body{
    text-align: center;
    margin: 0;
}
.contenedor{
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    background-color: rgb(233, 160, 58);
    gap: 1rem;
}
.section2{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 95%;
    margin: auto;
}
.header{
    border: solid;
    background-color: gray;
}
.nav{
    background-color:rgb(238, 159, 139);
    width: 90%;
    height: 80PX;
    margin:auto;
    margin-bottom: 1rem;
    border: solid;
}
#gap{
    margin-top:1.5rem;
    margin-bottom: 1.6rem;
}
#aside{
    height: 120px;
}
.section{
    border: black solid;
    background-color: antiquewhite;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#fo{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}
.foo{
    border: solid;
    background-color: white;
}