body{
    background-color: rgb(207, 141, 78);
    text-align: center;
    border: solid;
    margin: auto;

}
#contenedor{
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: rgb(255, 255, 255);
    height: auto;
    
    
}
.sex{
   width: 10%;
   height: auto;
   margin-top: 20px;
}
header{
    background-color: aquamarine;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
    border: solid;
}
#record{
    background-color:rgb(238, 159, 139);
    margin:auto;
}
nav{
    background-color:rgb(238, 159, 139);
    width: 90%;
    height: 90%;
    margin:auto
    

}